[Unit]
Description=Party Mode Frontend
After=network.target
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=1
StartLimitBurst=5
StartLimitIntervalSec=30
User=pmadmin
ExecStart=node /app/party-mode/frontend/index.js

[Install]
WantedBy=multi-user.target